openapi: 3.0.3
info:
  title: Payroll
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://pay.hst-et.com'
paths:
  /api/v1/register:
    post:
      summary: 'Handle an incoming registration request.'
      operationId: handleAnIncomingRegistrationRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: dgbcf
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: alexanne.hettinger@example.org
                password:
                  type: string
                  description: ''
                  example: esse
              required:
                - name
                - email
                - password
      security: []
  /api/v1/login:
    post:
      summary: 'Handle an incoming authentication request.'
      operationId: handleAnIncomingAuthenticationRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: willow82@example.com
                password:
                  type: string
                  description: ''
                  example: '!p;-E<'
              required:
                - email
                - password
      security: []
  /api/v1/forgot-password:
    post:
      summary: 'Handle an incoming password reset link request.'
      operationId: handleAnIncomingPasswordResetLinkRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: frankie18@example.net
              required:
                - email
      security: []
  /api/v1/reset-password:
    post:
      summary: 'Handle an incoming new password request.'
      operationId: handleAnIncomingNewPasswordRequest
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: sit
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: beahan.kailyn@example.com
                password:
                  type: string
                  description: ''
                  example: voluptatem
              required:
                - token
                - email
                - password
      security: []
  '/api/v1/verify-email/{id}/{hash}':
    get:
      summary: "Mark the authenticated user's email address as verified."
      operationId: markTheAuthenticatedUsersEmailAddressAsVerified
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tenant could not be identified on domain pay.hst-et.com'
                  exception: Stancl\Tenancy\Exceptions\TenantCouldNotBeIdentifiedOnDomainException
                  file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/DomainTenantResolver.php
                  line: 48
                  trace:
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                      line: 34
                      function: resolveWithoutCache
                      class: Stancl\Tenancy\Resolvers\DomainTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/IdentificationMiddleware.php
                      line: 26
                      function: resolve
                      class: Stancl\Tenancy\Resolvers\Contracts\CachedTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/InitializeTenancyByDomain.php
                      line: 37
                      function: initializeTenancy
                      class: Stancl\Tenancy\Middleware\IdentificationMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\InitializeTenancyByDomain
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/PreventAccessFromCentralDomains.php
                      line: 29
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\PreventAccessFromCentralDomains
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/livewire/livewire/src/Features/SupportDisablingBackButtonCache/DisableBackButtonCacheMiddleware.php
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Livewire\Features\SupportDisablingBackButtonCache\DisableBackButtonCacheMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/beyondcode/laravel-query-detector/src/QueryDetectorMiddleware.php
                      line: 33
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: BeyondCode\QueryDetector\QueryDetectorMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/app/Http/Middleware/Localization.php
                      line: 22
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: App\Http\Middleware\Localization
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Tenant could not be identified on domain pay.hst-et.com'
                  exception:
                    type: string
                    example: Stancl\Tenancy\Exceptions\TenantCouldNotBeIdentifiedOnDomainException
                  file:
                    type: string
                    example: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/DomainTenantResolver.php
                  line:
                    type: integer
                    example: 48
                  trace:
                    type: array
                    example:
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                        line: 34
                        function: resolveWithoutCache
                        class: Stancl\Tenancy\Resolvers\DomainTenantResolver
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/IdentificationMiddleware.php
                        line: 26
                        function: resolve
                        class: Stancl\Tenancy\Resolvers\Contracts\CachedTenantResolver
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/InitializeTenancyByDomain.php
                        line: 37
                        function: initializeTenancy
                        class: Stancl\Tenancy\Middleware\IdentificationMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Stancl\Tenancy\Middleware\InitializeTenancyByDomain
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/PreventAccessFromCentralDomains.php
                        line: 29
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Stancl\Tenancy\Middleware\PreventAccessFromCentralDomains
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 805
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 784
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 748
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/livewire/livewire/src/Features/SupportDisablingBackButtonCache/DisableBackButtonCacheMiddleware.php
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Livewire\Features\SupportDisablingBackButtonCache\DisableBackButtonCacheMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/beyondcode/laravel-query-detector/src/QueryDetectorMiddleware.php
                        line: 33
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: BeyondCode\QueryDetector\QueryDetectorMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/app/Http/Middleware/Localization.php
                        line: 22
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: App\Http\Middleware\Localization
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 99
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 1096
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/artisan
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                        line:
                          type: integer
                          example: 34
                        function:
                          type: string
                          example: resolveWithoutCache
                        class:
                          type: string
                          example: Stancl\Tenancy\Resolvers\DomainTenantResolver
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify email.'
        example: est
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: ut
        required: true
        schema:
          type: string
  /api/v1/email/verification-notification:
    post:
      summary: 'Send a new email verification notification.'
      operationId: sendANewEmailVerificationNotification
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/logout:
    post:
      summary: 'Destroy an authenticated session.'
      operationId: destroyAnAuthenticatedSession
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/validate-user:
    post:
      summary: ''
      operationId: postApiV1ValidateUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/users:
    get:
      summary: ''
      operationId: getApiV1Users
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tenant could not be identified on domain pay.hst-et.com'
                  exception: Stancl\Tenancy\Exceptions\TenantCouldNotBeIdentifiedOnDomainException
                  file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/DomainTenantResolver.php
                  line: 48
                  trace:
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                      line: 34
                      function: resolveWithoutCache
                      class: Stancl\Tenancy\Resolvers\DomainTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/IdentificationMiddleware.php
                      line: 26
                      function: resolve
                      class: Stancl\Tenancy\Resolvers\Contracts\CachedTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/InitializeTenancyByDomain.php
                      line: 37
                      function: initializeTenancy
                      class: Stancl\Tenancy\Middleware\IdentificationMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\InitializeTenancyByDomain
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/PreventAccessFromCentralDomains.php
                      line: 29
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\PreventAccessFromCentralDomains
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/livewire/livewire/src/Features/SupportDisablingBackButtonCache/DisableBackButtonCacheMiddleware.php
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Livewire\Features\SupportDisablingBackButtonCache\DisableBackButtonCacheMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/beyondcode/laravel-query-detector/src/QueryDetectorMiddleware.php
                      line: 33
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: BeyondCode\QueryDetector\QueryDetectorMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/app/Http/Middleware/Localization.php
                      line: 22
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: App\Http\Middleware\Localization
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Tenant could not be identified on domain pay.hst-et.com'
                  exception:
                    type: string
                    example: Stancl\Tenancy\Exceptions\TenantCouldNotBeIdentifiedOnDomainException
                  file:
                    type: string
                    example: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/DomainTenantResolver.php
                  line:
                    type: integer
                    example: 48
                  trace:
                    type: array
                    example:
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                        line: 34
                        function: resolveWithoutCache
                        class: Stancl\Tenancy\Resolvers\DomainTenantResolver
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/IdentificationMiddleware.php
                        line: 26
                        function: resolve
                        class: Stancl\Tenancy\Resolvers\Contracts\CachedTenantResolver
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/InitializeTenancyByDomain.php
                        line: 37
                        function: initializeTenancy
                        class: Stancl\Tenancy\Middleware\IdentificationMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Stancl\Tenancy\Middleware\InitializeTenancyByDomain
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/PreventAccessFromCentralDomains.php
                        line: 29
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Stancl\Tenancy\Middleware\PreventAccessFromCentralDomains
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 805
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 784
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 748
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/livewire/livewire/src/Features/SupportDisablingBackButtonCache/DisableBackButtonCacheMiddleware.php
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Livewire\Features\SupportDisablingBackButtonCache\DisableBackButtonCacheMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/beyondcode/laravel-query-detector/src/QueryDetectorMiddleware.php
                        line: 33
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: BeyondCode\QueryDetector\QueryDetectorMiddleware
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/app/Http/Middleware/Localization.php
                        line: 22
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: App\Http\Middleware\Localization
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 99
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 1096
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/symfony/console/Application.php
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /var/www/html/backend_multi_database/artisan
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                        line:
                          type: integer
                          example: 34
                        function:
                          type: string
                          example: resolveWithoutCache
                        class:
                          type: string
                          example: Stancl\Tenancy\Resolvers\DomainTenantResolver
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qppnyrflgevwbkvarnp
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: davonte.padberg@example.org
                password:
                  type: string
                  description: ''
                  example: ipsum
              required:
                - name
                - email
                - password
      security: []
  '/api/v1/users/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tenant could not be identified on domain pay.hst-et.com'
                  exception: Stancl\Tenancy\Exceptions\TenantCouldNotBeIdentifiedOnDomainException
                  file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/DomainTenantResolver.php
                  line: 48
                  trace:
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Resolvers/Contracts/CachedTenantResolver.php
                      line: 34
                      function: resolveWithoutCache
                      class: Stancl\Tenancy\Resolvers\DomainTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/IdentificationMiddleware.php
                      line: 26
                      function: resolve
                      class: Stancl\Tenancy\Resolvers\Contracts\CachedTenantResolver
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/InitializeTenancyByDomain.php
                      line: 37
                      function: initializeTenancy
                      class: Stancl\Tenancy\Middleware\IdentificationMiddleware
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\InitializeTenancyByDomain
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/stancl/tenancy/src/Middleware/PreventAccessFromCentralDomains.php
                      line: 29
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Stancl\Tenancy\Middleware\PreventAccessFromCentralDomains
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /var/www/html/backend_multi_database/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 784
[...]
